/*--------------------- Typography ----------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/*--------------------- Base Styles ----------------------------*/

body {
  font-family: "Roboto Slab";
  line-height: 1.5em;
  margin: 0;
}

hr {
  height: 1px;
  background: #ddd;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #112233;
  font-weight: bold;
  font-family: "Roboto Slab";
  line-height: 1em;
  margin-top: 50px;
}
  h1 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }
  h1:after {
    content: "—";
    display: block;
    font-family: "fleurons";
    color: #999;
    font-size: 80px;
    padding: 10px 0 25px;
  }

a {
  color: #000;
}

blockquote {
  border-left: 5px solid #ccc;
  margin-left: 0;
  padding: 1px 0 1px 1em;
}
  .page blockquote p {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 14px; line-height: 19px;
    color: #999;
    margin: 10px 0 0;
    white-space: pre-wrap;
  }

pre, tt, code {
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #EAEAEA;
  background: #f8f8f8;
  color: #555;
  padding: 0 5px;
  line-height: 20px;
}
  .page pre {
    margin: 0;
    width: 608px;
    padding: 10px 15px;
    background: #fcfcfc;
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    box-shadow:         inset 0 0 10px rgba(0,0,0,0.1);
    overflow-x: auto;
  }
    .page pre code {
      border: 0;
      padding: 0;
      background: transparent;
    }

.fleur {
  font-family: "fleurons";
  font-size: 100px;
  text-align: center;
  margin: 40px 0;
  color: #ccc;
}

/*--------------------- Layout ----------------------------*/

.container {
  width: 760px;
  margin: 0 auto;
  background: #fff;
  background: rgba(255,255,255, 0.4);
  overflow: hidden;
}
  .page {
    width: 640px;
    padding: 30px;
    margin: 30px;
    background: #fff;
    font-size: 17px;
    line-height: 26px;
  }
    .page p {
      color: #30404f;
      margin: 26px 0;
    }

ul.sections {
  list-style: none;
  padding:0 0 5px 0;;
  margin:0;
}

.page li p {
  margin: 12px 0;
}

.toc {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  -moz-transition: max-height 1s;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

  .header {
    margin-top: 24px;
  }

  .header:hover .toc {
    max-height: 500px;
  }
  .toc h3 {
    margin-top: 20px;
  }
  .toc ol {
    margin: 0 0 20px 0;
    display: inline-block;
    text-align: left;
    list-style-type: upper-roman;
  }
    .toc li {
      font-family: 'Roboto Slab';
    }
      .toc li a {
        font-family: 'Roboto Slab';
      }


/*---------------------- Syntax Highlighting -----------------------------*/

td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }

.code pre {
  display: block;
  overflow: auto;
}

pre code {
  display: block; padding: 0.5em;
  color: #000;
  background: #f8f8ff
}

.c { color: #008800; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #AA22FF; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.cm { color: #008800; font-style: italic } /* Comment.Multiline */
.cp { color: #008800 } /* Comment.Preproc */
.cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #008800; font-style: italic } /* Comment.Single */
.cs { color: #008800; font-weight: bold } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.kp { color: #AA22FF } /* Keyword.Pseudo */
.kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BB4444 } /* Literal.String */
.na { color: #BB4444 } /* Name.Attribute */
.nb { color: #AA22FF } /* Name.Builtin */
.nc { color: #0000FF } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #00A000 } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #B8860B } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BB4444 } /* Literal.String.Affix */
.sb { color: #BB4444 } /* Literal.String.Backtick */
.sc { color: #BB4444 } /* Literal.String.Char */
.dl { color: #BB4444 } /* Literal.String.Delimiter */
.sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BB4444 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BB4444 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BB4444 } /* Literal.String.Single */
.ss { color: #B8860B } /* Literal.String.Symbol */
.bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.fm { color: #00A000 } /* Name.Function.Magic */
.vc { color: #B8860B } /* Name.Variable.Class */
.vg { color: #B8860B } /* Name.Variable.Global */
.vi { color: #B8860B } /* Name.Variable.Instance */
.vm { color: #B8860B } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */
